<div data-search-services-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize services.count, 'service' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize services.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="services">
    <% services.each do |service| %>
      <%= render 'service_infos.html', service: service %>
    <% end %>
  </div>
</div>
