<div class="container">
  <div class="row">
    <div class="textwelcome" style="text-align: center">
      <p class="textsub">Subscription services you can track!</p>
      <p class="textsub"><span> Choose them here: </span></p>
    </div>
  </div>
</div>
<div data-controller="search-services" class="index">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4" style="width: 35.333333%;">
        <div class="form-searchbar">
          <%= form_with url: services_path, method: :get, html: { class:
            'mb-4', data: { search_services_target: 'form' } } do |f| %>
            <%= f.text_field :query,
                            class: "form-control",
                            placeholder: 'Type a service name',
                            data: { action: 'keyup->search-services#update', search_services_target: 'searchInput' },
                            value: params[:query]
                            %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'list', services: @services %>
  <%= link_to "Add a new service", new_service_path(@service), class:"btn" %>
</div>
