main {
  background-color: #fef1e1;
}

nav {
  background-color: #3c1900;

  a {
    color: #fef1e1;

    :hover{
      opacity: 0.7;
    }
  }
}

.title {
  color: #fef1e1;
  background-color: #3c1900;

}
