body {
  background-color: #fef1e1;
}

nav {
  background-color: #3c1900;

  a {
    color: #fef1e1;
  }

  a:hover {
    opacity: 0.7;
    color: #fef1e1;
  }
}




.active {
  border-bottom: #ca5310 solid 1px;
  border-right: #ca5310 solid 1px;
  border-radius: 2%;
}

.title {
  color: #fef1e1;
  background-color: #3c1900;

}
