nav {
  background-color: #3c1900;

  a {
    color: #fef1e1;
  }

  a:hover {
    opacity: 0.7;
    color: #fef1e1;
  }
}

section {

  h1 {
    font-family: 'Oxygen', sans-serif;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}


.active {
  border-bottom: #ca5310 solid 1px;
  border-right: #ca5310 solid 1px;
  border-radius: 2%;
}

.title {
  color: #fef1e1;
  background-color: #3c1900;

}
