<div class="banner">
  <h1>Start using<strong>The Fox Tails</strong>!</h1>
  <p>Save money by by managing your subscription <strong>and it's super easy !</strong></p>
   <div class="d-flex justify-content-center">
      <a class="btn btn-banner" href="#">Start now</a>
   </div>
</div>
