<div class="banner">
  <div class="header">
    <h1 class="txta">Start using<strong>The Fox Tails</strong>!</h1>
    <p class="txtb">Save money by managing your subscription <strong>and it's super easy !</strong></p>
    <div class="d-flex justify-content-center">
      <%= link_to "Right here", services_path, class: "btn btn-banner" %>
    </div>
  </div>
</div>
