<div class="banner">
  <div class="header">
    <h1 class="txta">Cunning insight made easy</h1>
    <div class='txtb-container'>
      <h2 class="txtb"> Save time and money by "managing" your subscriptions all at once</h2>
      <div class='textandbutton'>
          <p class="txtb2">Stop paying for services you don't use.<br>Keen analytics at your finger tips.<br>The Fox Tail enables a clear overview on your spendings and activity.</p>
          <%= link_to "Try Now!", services_path, class: "button-banner" %>
      </div>
    </div>
  </div>
</div>
