<div class="banner">
  <div class="header">
    <h1 class="txta">Start using<strong> The Fox Tail</strong></h1>
    <div class='txtb-container'>
      <h2 class="txtb"> Save money by managing your subscriptions <strong>, it's super easy !</strong></h2>
      <div class='textandbutton'>
          <p class="txtb2">You have: no more excuses to keep paying too much<br>No more frustrations not remembering the details of your subscriptions<br>No more guessing about how you spend your time online</p>
          <%= link_to "START", services_path, class: "button-banner" %>
      </div>
    </div>
  </div>
</div>
