 <%= render 'shared/banner' %>
 <div class="row">
  <div class="cards">
    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

    <div class="card-category">
    </div>
  </div>
</div>
