<%= render 'shared/banner' %>
  <div class="container mt-3">
    <div class="row">
      <div class="textwelcome" style="text-align: center">
      <p class="text2">SMART OVERVIEW<br>100% FREE 100% USEFULL MANAGEMENT</p>
      </div>
      <div class="container d-flex justify-content-center text-center">
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
            <h1 class="image" >📊</h1>
            <p class="txt1"> With a clear vision of all your subscriptions</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
          <h1 class="image" >💲</h1>
            <p class="txt1">Track your spendings, your uses and their details</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
          <h1 class="image" >📲</h1>
            <p class="txt1">For all your favorite apps</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-2 d-flex justify-content-center text-center">
    <div class=" flex cards-2-homepage">
      <div class=" row cards-2-homepage-design">
          <h2 class="txt2">How much do you spend using apps, what's really worth it ?</h2>
          <p class="txt2">When will be your next payements ?</p>
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class="row cards-2-homepage-design">
        <h2 class="txt2">Have you hard to track your data with relevant informations ?</h2>
        <p class="txt2">Are you looking forward a better understanding of what you've signed for ?
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class=" row cards-2-homepage-design">
        <h2 class="txt2">How nice to know more about your utilisation?</h2>
        <p class="txt2"> How annoying to not have an overview of your app's utilisations? </p>
      </div>
    </div>
  </div>
  <div class="container row d-flex justify-content-center text-center">
    <h1 class=" howtxt">How <strong>The Fox tail</strong> will help you ?</h1>
    <div class="cards-intro-home">
        <div class=" flex cards-3-homepage">
          <div class="cards-3-homepage-design">
              <p class="txt3"></p>
          </div>
        </div>
        <div class=" flex cards-3-homepage">
          <div class="cards-3-homepage-design">
              <p class="txt3"></p>
          </div>
        </div>
      </div>
  </div>



  <div class="cards">
    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

  </div>
</div>
