<%= render 'shared/banner' %>
  <div class="container mt-3">
    <div class="row">
      <div class="textwelcome" style="text-align: center">
      <p class="text2">SMART OVERVIEW OF YOUR SUBSCRIPTIONS<br>100% Safe we keep your data private<br>Manage easily your data</p>
      </div>
      <div class="container d-flex justify-content-center text-center">
        <div class=" flex cards-1-homepage">
          <div class="cards-1-homepage-design">
            <i class="img1 fas fa-eye"></i>
            <p class="txt1"> With a clear vision of all your subscriptions</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
          <div class="cards-1-homepage-design">
            <i class="img1 fas fa-chart-bar"></i>
            <p class="txt1">Track your spendings, your uses and their details</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
            <i class="img1 fas fa-mobile-alt"></i>
            <p class="txt1">For all your favorite apps</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-2 d-flex justify-content-center text-center">
    <div class=" flex cards-2-homepage">
      <div class=" row cards-2-homepage-design">
          <h2 class="txt2header">HOW ANNOYING.. </h2>
          <i class="img2 fas fa-hand-holding-usd"></i>
          <p class="txt2">to pay for things you don't have the use</p>
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class="row cards-2-homepage-design">
        <h2 class="txt2header">HOW TIME CONSUMING.. </h2>
        <i class="img2 fas fa-user-clock"></i>
        <p class="txt2">to find all the data link to each of your subcriptions </p>
      </div>
    </div>
  </div>
  <div class="container-3 d-flex justify-content-center text-center">
    <div class=" flex cards-3-homepage">
      <div class=" row cards-3-homepage-design">
          <h2 class="txt3header">SAVE TIME</h2>
          <i class="img3 fas fa-hourglass-half"></i>
          <p class="txt3">The Fox tail will give you a clear and accessible view of the details of your subcriptions.</p>
      </div>
    </div>
    <div class=" flex cards-3-homepage">
      <div class="row cards-3-homepage-design">
        <h2 class="txt3header">SAVE MONEY</h2>
        <i class="img3 fas fa-thumbs-up"></i>
        <p class="txt3">With the data given by The Fox Tail you will see which spendings are really worth it.</p>
      </div>
    </div>
  </div>
  <div class="container-4 d-flex justify-content-center text-center">
    <div class="cards-intro-home">
        <div class=" flex cards-4-homepage">
          <div class="cards-4-homepage-design">
              <p class="txt4">1. Choose the app you wanna track</p>
          </div>
        </div>
        <div class=" flex cards-4-homepage">
          <div class="cards-4-homepage-design">
              <p class="txt4">2. Enter your informations</p>
          </div>
        </div>
        <div class=" flex cards-4-homepage">
          <div class="cards-4-homepage-design">
            <p class="txt4">3. Gain powerful insight</p>
          </div>
        </div>
      </div>
  </div>
