 <%= render 'shared/banner' %>
 <div class="row">
  <div class="cards">
    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

  </div>
  <%= pie_chart(Service.group(:category).count,
      colors: ["red", "black", "blue"],
      donut: true,
      fontColor: "yellow",
      legend: "top") %>
</div>
