 <%= render 'shared/banner' %>
  <div class="container mt-3">
    <div class="row">
      <div class="textwelcome" style="text-align: center">
      <p class="text2">SMART OVERVIEW<br>100% FREE 100% USEFULL MANAGEMENT</p>
      </div>
      <div class="container d-flex justify-content-center text-center">
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
            <h1 class="image" >📊</h1>
            <p class="txt1"> With a clear vision of all your subscriptions</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
          <h1 class="image" >💲</h1>
            <p class="txt1">You will see how you use your money</p>
          </div>
        </div>
        <div class=" flex cards-1-homepage">
        <div class="cards-1-homepage-design">
          <h1 class="image" >📲</h1>
            <p class="txt1">With your favorite apps</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-2 d-flex justify-content-center text-center">
    <div class=" flex cards-2-homepage">
      <div class="cards-2-homepage-design">
          <p class="txt2">Do you really know how much do you spend per year on your apps and if it is worth it ?</p>
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class="cards-2-homepage-design">
        <p class="txt2"> How annoying to not have an overview of your app's utilisations? Having to remember for what and when will you be charged this month. </p>
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class="cards-2-homepage-design">
        <p class="txt2">Isn't hard to track your data with relevant information to get a better undestanding of the use of your subscriptions or for what you really sign for ?</p>
      </div>
    </div>
    <div class=" flex cards-2-homepage">
      <div class="cards-2-homepage-design">
        <p class="txt2">How nice could it be to know more about what are your and your family utilisation and taste? </p>
      </div>
    </div>
  </div>



  <div class="cards">
    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

    <div class="card-category">
    </div>

  </div>
</div>
