.btn-banner {
  background-color: #ca5310;
  padding: 15px 23px;
  color:  #fef1e1;
  text-decoration: none;
  border-radius: 17px;
  margin-top: 20px;
  box-shadow: 0.9px 0.9px 1.1px #282b28;
  opacity: 0.7;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
}

.btn-banner:hover {
  color: #3c1900;
  opacity: 1;
}

.btn {
  background-color: #ca5310;
  padding: 15px 23px;
  color:  #fef1e1;
  text-decoration: none;
  border-radius: 17px;
  box-shadow: 0.9px 0.9px 1.1px #282b28;
  opacity: 0.7;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn:hover {
  color: #3c1900;
  opacity: 1;
}

.btn-navbar {
  opacity: 0.7;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:  #fef1e1;
  text-decoration: none;

}
.btn-navbar:hover {
  color: #ca5310;
}

.nav-link:hover {
  color: #ca5310 !important;
}
