.card-show {
  position: relative;
}

.card-service-info {
  border-radius: 4%;
  box-shadow: 3px 4px #282b285d;
}

.card-service-payment {
  border-radius: 15px;
  box-shadow: 3px 4px #282b285d;
  span {
    color: #ca5310;
  }
}

.card-show-body {
  height: calc(100% - 150px);

  h4{
    color: #fef1e1;
  }

  p {
    color: #ca5310;
  }
}

.card-position-relative {
  position: absolute;
  left: -35px;
  top: -35px;
}

.fa-edit {
  font-size: 30px;
  color: #282b28;
  opacity: 0.8;
  &:hover {
    color: #282b28;
    opacity: 1;
  }

}
