.textwelcome {
  font-size: 29px;
  color: #ca5310;
  font-family: 'Oxygen', sans-serif
}

.img1 {
  font-size: 60px;
  color: #3c1900;
  margin-bottom: 20px;
}

.txt1{
  text-align: center;
  font-size: 23px;
  color:#3c1900;
  font-family: 'Montserrat', sans-serif;
}

.cards-1-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-1-homepage-design {
  background-size: cover;
  background-position: center;
  justify-content: center;
  border-radius: 5px;
  height: 250px;
  width: 180px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.container-2{
  position: relative;
  height: 500px;
  background-image: linear-gradient(#282b28, #282b28);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  opacity: 0.8;
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}


.cards-2-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding-top: 40px;
}

.cards-2-homepage-design {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 400px;
  margin-left: 90px;
  margin-right: 90px;
}

.txt2header {
  font-size: bold;
  font-size: 28px;
  color:#fef1e1;
}

.img2 {
  font-size: 50px;
  color:#fef1e1;
}


.txt2 {
  text-shadow: 1px 1px 3px #3c1900;
  font-size: 26px;
  color:#ca5310;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.cards-3-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.container-3 {
  position: relative;
  height: 500px;
  background-color:#fef1e1;
  padding-top: 70px;
}

.cards-3-homepage-design {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0.8px 0.8px 0.8px #ca5310;
  height: 300px;
  width: 400px;
  margin-left: 90px;
  margin-right: 90px;
}


.txt3header {
  font-size: 28px;
  color:#ca5310;
  text-shadow: 1px 1px 3px#ca5310;
}

.img3 {
  font-size: 50px;
  color:#ca5310;
}

.txt3 {
  font-size: 26px;
  color:#ca5310;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container-4 {
  background-color:#3c1900b7;
  height: 500px;
  // opacity: 0.7;
  padding-top: 15px;
  flex-direction: column;

  .text2 {
    color: #fef1e1;
    text-shadow: 1px 1px 3px #ca5310;
    font-family: 'Montserrat', sans-serif;
  }

  .container-btn {
    padding-top: 25px;
  }
}

.cards-intro-home {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.cards-4-homepage-design {
  background-size: cover;
  background-position: center;
  border-color: #3c1900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 1px 3px #ca5310;
  border-radius: 50px;
  height: 190px;
  width: 360px;
  box-shadow: 0 0 15px #ca5310;
}

.howtxt {
  padding: 50px;
  font-size: 34px;
  color:#3c1900;
  font-family: 'Oxygen', sans-serif;
}

.txt4 {
  font-size: 25px;
  color:#fef1e1;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 576px) {

  .row {
    width: 100% !important;
  }

  .container-1 {
    height: 1000px;
    .cards-1-homepage {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .container-2 {
    height: 800px;

    .cards-2-homepage-design {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .container-3 {
    height: 800px;

    .cards-3-homepage-design {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .container-4 {
    height: 1000px;
    justify-content: center;
    align-items: center;

    .cards-4-homepage-design {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 90px;
      margin-right: 90px;
      margin-top: 25px;
    }
  }
}
