.textwelcome {
  font-size: 27px;
  color: #ca5310;
}

.image {
  margin-top: 2px;
  text-align: center;
  font-size: 50px;
}

.txt1{
  text-align: center;
  font-size: 20px;
  color:#3c1900;
}
.cards-1-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-1-homepage-design {
  background-size: cover;
  background-position: center;
  justify-content: center;
  border-radius: 5px;
  height: 250px;
  width: 180px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.container-2{
  background-color: #282b28;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  padding: 100px 0;
}


.cards-2-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-2-homepage-design {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0.5px 0.5px 0.5px #3c1900;;
  height: 300px;
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

.cards-2-homepage-design:hover {
  box-shadow: 0 0 15px #3c1900;
}

.txt2 {
  text-shadow: 1px 1px 3px #3c1900;
  font-size: 18px;
  color:#ca5310;
  text-align: center;
}

.cards-3-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-3-homepage-design {
  background-size: cover;
  background-position: center;
  background-color: #ca5310;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px #3c1900;
  border-radius: 5px;
  box-shadow: 0 0 15px #3c1900;
  height: 350px;
  width: 280px;
  margin: 30px;
  box-shadow: 1px 1px 1px #3c1900;
}

.cards-3-homepage-design:hover {
  box-shadow: 0 0 15px #3c1900;
}

.howtxt {
  margin-top: 15px;
  font-size: 30px;
  color:#ca5310;
}

.txt3 {
  font-size: 20px;
  color: #fef1e1;
}

.cards-intro-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
