.navbar-lewagon {
  justify-content: end;
  background: #282b28 ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  display: content;
  justify-content: end;
}

.navbar-lewagon .navbar-collapse .nav-link {
  color: #fef1e1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  opacity:0.8;
  width: 40px;
  &:hover{
    opacity: 1;
  }
}
