.cards {
  justify-content: space-evenly;

  a{
    color: black;
  }
}

.textsub {
  font-size: 34px;
  margin-top: 15px;
  color: #ca5310;
  font-family: 'Oxygen', sans-serif
}

.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 260px;
  width: 338px;
  margin: 12px;
  box-shadow: 1px 1px 1px rgb(2, 0, 0);
  overflow: hidden;

  a {
    color: black;
  }

  .card-category-image {
    height: 175px;
    width: 338px;
    object-fit: cover;
    overflow: hidden;
  }

  h2 {
    margin-bottom: 30px;
    margin-top: 15px;
    color: #CA5310;
  }

  &:hover {
    box-shadow: 5px 5px 5px grey;
    color: black;
  }
}

.index {
  .btn{
    justify-content: center;
    display: block;
    margin: auto;
    width: 257px;
    margin-bottom: 17px;
    margin-top: 11px;
  }
}
